html,body{
	height:100%;
	overflow:auto;
}

body {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.42857143;
    color: rgba(0,0,0,0.87);
    background-color: transparent;
}
.menuBtn {
	background-color: transparent;
	border: none;
	height: 38px;
	margin: 16px 0 0 16px;
	width: 36px;
}

md-toolbar h1 {
	font-weight: normal;
}

md-list .md-button {
	color: inherit;
	font-weight: 500;
	text-align: left;
	width: 100%;
}

/* Using Data-URI converted from svg until <md-icon> becomes available
https://github.com/google/material-design-icons
*/
.menuBtn {
	background: transparent
		url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGcgaWQ9IkhlYWRlciI+CiAgICA8Zz4KICAgICAgICA8cmVjdCB4PSItNjE4IiB5PSItMjIzMiIgZmlsbD0ibm9uZSIgd2lkdGg9IjE0MDAiIGhlaWdodD0iMzYwMCIvPgogICAgPC9nPgo8L2c+CjxnIGlkPSJMYWJlbCI+CjwvZz4KPGcgaWQ9Ikljb24iPgogICAgPGc+CiAgICAgICAgPHJlY3QgZmlsbD0ibm9uZSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ii8+CiAgICAgICAgPHBhdGggZD0iTTMsMThoMTh2LTJIM1YxOHogTTMsMTNoMTh2LTJIM1YxM3ogTTMsNnYyaDE4VjZIM3oiIHN0eWxlPSJmaWxsOiNmM2YzZjM7Ii8+CiAgICA8L2c+CjwvZz4KPGcgaWQ9IkdyaWQiIGRpc3BsYXk9Im5vbmUiPgogICAgPGcgZGlzcGxheT0iaW5saW5lIj4KICAgIDwvZz4KPC9nPgo8L3N2Zz4=)
		no-repeat center center;
}


/* <!-- Search Results --> */

a {
  text-decoration: none;
}

i {
  vertical-align: middle;
  font-size: 24px;
}

.main-fab {
  position:absolute;
  z-index:20;
  font-size:30px;
  top:100px;
  left:24px;
  transform:scale(.88,.88);
}

.md-breadcrumb {
  padding-left:88px;
}

.JCLRgrip:first-child {
  left:105px!important;
  display: none!important;
}

.JColResizer th:first-child {
  width: 105px!important;
}

.md-table {
  min-width: 100%;
  border-collapse: collapse;
}

.md-table tbody tr:hover, .md-table tbody tr:focus {
  cursor:pointer;
  background-color:rgba(63,81,181,0.2);
}

.md-table-header {
  border-bottom: 1px solid rgb(230,230,230);
  color: rgb(130,130,130);
  text-align: left;
  font-size: 0.75em;
  font-weight: 700;
  padding: 16px 16px 16px 0;
}

.md-table-header a{
  text-decoration: none;
  color: inherit;
}

.md-table-content {
  white-space: nowrap;
  font-size: 0.8em;
  padding: 16px 16px 16px 0;
  height: 72px;
}

.md-table-td-more {
  max-width:72px;
  width:72px;
  padding:16px;
}

.md-table-thumbs {
  max-width: 104px;
  width: 104px;
  padding: 16px 32px;
}

.md-table-thumbs div {
  overflow:hidden;
  width: 40px;
  height:40px;
  border-radius:20px;
  border: 1px solid rgba(0,0,0,0.2);
  background-size:cover;
  box-shadow: 0 8px 10px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 8px 10px rgba(0,0,0,.1);
}

.md-table-footer {
  height:40px;
  padding-left: 32px;
  padding-right: 32px;
}

.md-table-count-info {
  line-height:40px;
  font-size:.75em;
}

.md-table-footer-item {
  width: 40px;
  height: 40px;
  vertical-align:middle;
}

.md-table-active-page {
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

.grey {
  color: grey;
}


/*
md-input-container.md-default-theme .md-input {
  color: white;
  border-color: white;
  margin-top: 24px;
}
 */
 .md-table-header{
 	color:white;
 }


 thead { background: lightgray; align-content: center; }
        tbody { display: block; overflow: auto; height: 250px; border-collapse: collapse; }
        th { height: 40px; width: auto;  text-align: center; }
        td { height: 30px; width: 120px; margin: 0px; padding: 5px;}

[class|=smcircle]{
	width: 35px;
	height:35px;
	border-radius:100%;
}
.md-white-cyan-theme{
	color:rgba(0,0,0,0.54);
}
.account_menu_icon{
	padding:6px;
}
/*.iconDetails {
 margin-left:2%;
float:left;
height:40px;
width:40px;
}

.container2 {
	width:100%;
	height:auto;
	padding:1%;
}*/
.navbar-button{
	min-width:10px ;
	border-radius:50%;
}
.image-button{
	min-width:100px ;

}
#sidenav-left{
	position:fixed;
	margin-top:64px;
	width:260px;
	min-width:260px;
	background-color: rgb(63,81,181);
}
.sidenav-left-content{
	background-color: rgb(63,81,181);
}
.sidenav-btns{
	/*text-transform:none;*/
	margin:0;
	min-width:250px;
	text-align:left;
	color:white;
}
.sidenav-sub-btns{
	text-transform:none;
	margin:0;
	min-width:250px;
	font-weight: bold;
	text-align: left;
  padding-left: 35px;
		color:white;
}
.sidenav-btns:not([disabled]):hover {
  background-color:rgb(63,81,181);
	opacity:0.9;

}
.sidenav-menu-item{
	font-weight: bold;
	padding:8px;
}
.movietable tr td:nth-child(2){
    width: 150px;
}

.movietable tr:nth-child(1) td{
    border-top: none;
}
a.nodecoration{
    text-decoration:none;
}
.table-heading{
	font-weight:bold;
	color:grey;
}
.angular-logo{
		height: 150px;
    width: auto;
    display: block;
    transform-origin: 50% 0;
    transform: scale(1.2);
}
.nav-header{
	/*background-color: #106CC8;
    background: linear-gradient(#185694, #106cc8);
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #185694), color-stop(1, #106cc8)); */
    /* background: -webkit-linear-gradient(top, #185694 0%, #106cc8 100%);
    background: -moz-linear-gradient(top, #185694 0%, #106cc8 100%);
    background: linear-gradient(top, #185694 0%, #106cc8 100%);
    border-bottom: 1px solid #267ED5;*/
     flex-shrink: 0;
     z-index: 2;
}
.docs-logo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 16px;
    margin: 0 auto;
		color:white;
	}
	.content-page{
		margin-left:260px;
	}
	#admin-panel-content-view {
    display: block;
    position: relative;
    /*padding-bottom: 65px;*/
    min-height: calc(100vh - 64px);
    -webkit-backface-visibility: hidden;
	}
	.full-image-background {
	    background-size: cover;
	    background-position: center;
	}
	.overlay-gradient-30 {
    position: relative;
    z-index: 1;
	}
	.padding-20 {
    padding: 20px!important;
}
.margin-right-20 {
    margin-right: 20px!important;
}
.make-round {
    border-radius: 50%;
}
img {
    max-width: 100%;
}
.text-light {
    color: #fff;
}
.font-weight-600 {
    font-weight: 600!important;
}
.font-weight-300 {
    font-weight: 300!important;
}
.margin-bottom-0 {
    margin-bottom: 0!important;
}
.mb-bg-01 {
    background-image: url(../images/bg6.png);
}
.md-card-image{
	  min-height: 150px;max-height:350px;
}
#my-breadcrumbs ul li {
 list-style:none;
}

#my-breadcrumbs {
margin-top: 250px;
margin-left: 300px;
}

#my-breadcrumbs ul li a {
 display: block;
 float: left;
 height: 50px;
 background: #4060A5;
 text-align: center;
 padding: 30px 40px 0 40px;
 position: relative;
 margin: 0 45px 0 0;
 font-family: "Open Sans", Helvetica, Arial, sans-serif;
 font-size: 20px;
 text-decoration: none;
 color: #fff;
}
#my-breadcrumbs ul li a:after {
content: "";
    border-top: 40px solid transparent;
border-bottom: 40px solid transparent;
border-left: 40px solid #4060A5;
position: absolute; right: -40px; top: 0;
}
#my-breadcrumbs ul li a:before {
 content: "";
  position: absolute;

  margin-top: -30px;
  border-width: 40px 0 40px 40px;
  border-style: solid;
  border-color: #4060A5 #4060A5 #4060A5 transparent;
  left: -40px;
}
/* Hide the Before Pseudo Element */
#my-breadcrumbs ul li:first-child a:before {
    display: none; }

/* Add Border Radius */
#my-breadcrumbs ul li:first-child a{
    border-top-left-radius: 10px; border-bottom-left-radius: 10px;border-bottom-right-radius: 1px;
}

/* Hover Effects */
#my-breadcrumbs ul li a:hover::before {
  border-color: #5172B8 #5172B8 #5172B8 transparent;
}
/* Hover Effects */
#my-breadcrumbs ul li a:hover::after {
      border-top: 40px solid transparent;
border-bottom: 40px solid transparent;
border-left: 40px solid #5172B8;
}
